<app-header type="guest"></app-header>
<div class="alert alert-warning text-center" role="alert">
  <strong>Guest panel</strong> You can only check out companies. For more, please <a class="alert-link" routerLink="/register">register</a> yourself!
</div>
<div class="container-fluid mycontainer">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <div class="card mx-auto">
        <div class="card-header"><strong>Search companies</strong></div>
        <div class="card-body">
          <form name="form-search">
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" [(ngModel)]="name" name="name" placeholder="Enter company name" autofocus>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input class="form-control" type="text" [(ngModel)]="city" name="city" placeholder="Enter city">
            </div>
            <div class="form-group">
              <label for="field">Field</label>
              <select class="form-control" [(ngModel)]='field' name='field'>
                <option *ngFor="let f of fields" value="{{ f.name }}">{{ f.name }}</option>
              </select>
            </div>
            <button class="btn btn-primary btn-block" (click)="search()">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card mx-auto">
        <div class="card-header"><strong>Companies</strong></div>
        <div class="card-body">
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong class="mx-2">Hint</strong> To get more info on particular company, just click on it.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <table class="table table-hover text-center">
            <thead class="thead-dark">
              <tr class="row">
                <th scope="col" class="col">Logo</th>
                <th scope="col" class="col">Name</th>
                <th scope="col" class="col">Field</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of companies" class="row" data-toggle="modal" data-target="#mymodal" (click)="selectCompany(c)">
                <td class="col"><img src="" alt="Logo" class="img-thumbnail"></td>
                <td class="col">{{ c.name }}</td>
                <td class="col">{{ c.field }}</td>
              </tr>
              <tr *ngIf="companies === null || companies.length  === 0" class="row">
                <td colspan="3" class="col"><strong>No companies found</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Company info modal -->
<div *ngIf="company !== null" class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mylabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mylabel">{{ company.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div class="row">
          <div class="col"><img src="" alt="Logo" class="img-thumbnail"></div>
          <div class="col"><h3>{{ company.name }}</h3></div>
        </div>
        <div class="row"><div class="col"><br /></div></div>
        <div class="row">
          <div class="col"><h4>General info</h4></div>
        </div>
        <div class="row ml-1">
          <div class="col-5"><strong>City</strong></div>
          <div class="col-7">{{ company.city }}</div>
        </div>
        <div class="row ml-1">
          <div class="col-5"><strong>Address</strong></div>
          <div class="col-7">{{ company.address }}</div>
        </div>
        <div class="row ml-1">
          <div class="col-5"><strong>E-mail</strong></div>
          <div class="col-7">{{ company.mail }}</div>
        </div>
        <div class="row ml-1">
          <div class="col-5"><strong>Web site</strong></div>
          <div class="col-7">{{ company.site }}</div>
        </div>
        <div class="row ml-1">
          <div class="col-5"><strong>Field</strong></div>
          <div class="col-7">{{ company.field }}</div>
        </div>
        <div class="row ml-1">
          <div class="col-5"><strong>Specialty</strong></div>
          <div class="col-7">{{ company.specialty }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>