<h3>Login</h3>
<div *ngIf="errors">
  <div *ngFor="let error of errors" style="color: red">{{ error }}</div>
</div>
<form>
  <table>
    <tr>
      <td>Username</td>
      <td>
        <input type='text' [(ngModel)]='username' name='username' placeholder="Enter your username">
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type='password' [(ngModel)]='password' name='password' placeholder="Enter your password">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)='login()'>Login</button>
      </td>
      <td>
        <a routerLink='/guest'>Guest</a>
      </td>
    </tr>
    <tr>
      <td>
        <a routerLink='/register'>Register</a>
      </td>
      <td>
        <a routerLink='/reset'>Reset</a>
      </td>
    </tr>
  </table>
</form>