<h3>Login - {{ usertype.name | titlecase }}</h3>
<form>
  <table>
    <div *ngIf="errors">
      <tr *ngFor="let error of errors" style="color: red">
        <td>{{ error }}</td>
      </tr>
    </div>
    
    <tr>
      <td>
        <input type='text' [(ngModel)]='username' name='username' placeholder="Username">
      </td>
    </tr>
    <tr>
      <td>
        <input type='password' [(ngModel)]='password' name='password' placeholder="Password">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)='login()'>Login</button>
        <a routerLink='/register'>Register</a>
        <a routerLink='/reset'>Reset</a>
      </td>
    </tr>
  </table>
</form>