<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light myheader">
  <a class="navbar-brand mb-0 h1">JobFair</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul *ngIf="type === 'welcome'" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guest">Guest</a>
      </li>
    </ul>
    <ul *ngIf="type === 'guest'" class="navbar-nav ml-auto">
      <li class="nav-item mytext">
        <span>Welcome Guest</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Back to home</a>
      </li>
    </ul>
    <ul *ngIf="type === 'student'" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/student">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student/resume">Resume</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/student/search">Search</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student/contests">Contests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student/rate">Rate</a>
      </li>
      <li class="nav-item mytext">
        <span>&#124;</span>
      </li>
      <li class="nav-item mytext">
        <span>Welcome {{ user.username | titlecase }}</span>
      </li>
      <li class="nav-item">
        <span><img [src]="imageSrc" alt="Image" class="myicon" ></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#"(click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>