<h3>Resume</h3>
<div *ngIf="errors">
  <div *ngFor="let error of errors" style="color: red">{{ error }}</div>
</div>
<form>
  <table>
    <tr>
      <td colspan="2"><b>Personal information</b></td>
    </tr>
    <br>
    <tr>
      <td>First name</td>
      <td>
        <input type='text' [(ngModel)]='resume.firstname' name='firstname'>
      </td>
    </tr>
    <tr>
      <td>Last name</td>
      <td>
        <input type='text' [(ngModel)]='resume.lastname' name='lastname'>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        <input type='text' [(ngModel)]='resume.address' name='address'>
      </td>
    </tr>
    <tr>
      <td>Zip code</td>
      <td>
        <input type='text' [(ngModel)]='resume.zip' name='zip'>
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <input type='text' [(ngModel)]='resume.city' name='city'>
      </td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
        <input type='text' [(ngModel)]='resume.country' name='country'>
      </td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>
        <input type='text' [(ngModel)]='resume.phone' name='phone'>
      </td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>
        <input type='text' [(ngModel)]='resume.mail' name='mail'>
      </td>
    </tr>
    <tr>
      <td>Web site</td>
      <td>
        <input type='text' [(ngModel)]='resume.site' name='site'>
      </td>
    </tr>
    <tr>
      <td>Skype ID</td>
      <td>
        <input type='text' [(ngModel)]='resume.skype' name='skype'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><i>Extra fields</i></td>
    </tr>
    <tr>
      <td>Sex</td>
      <td>
        <input type='checkbox' [(ngModel)]='resume.sex' value='male'>
        <label>Male</label>
        <input type='checkbox' [(ngModel)]='resume.sex' value='female'>
        <label>Female</label>
        <input type='checkbox' [(ngModel)]='resume.sex' value='none'>
        <label>Do not indicate</label>
      </td>
    </tr>
    <tr>
      <td>Date</td>
      <td>
        <input type='date' [(ngModel)]='resume.date' name='date'>
      </td>
    </tr>
    <tr>
      <td>Nationality</td>
      <td>
        <input type='text' [(ngModel)]='resume.nationality' name='nationality'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b>Type of Application</b></td>
    </tr>
    <br>
    <tr>
      <td>Type of Application</td>
      <td>
        <select [(ngModel)]='resume.type' name='type'>
          <option value="job">Job applied for</option>
          <option value="position">Position</option>
          <option value="preferred">Preffered job</option>
          <option value="studies">Studies applied for</option>
          <option value="personal">Personal statement</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <input type='text' [(ngModel)]='resume.description' name='description'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b>Education and training</b></td>
    </tr>
    <br>
    <tr>
      <td>From</td>
      <td>
        <input type='date' [(ngModel)]='resume.eduFrom' name='eduFrom'>
      </td>
    </tr>
    <tr>
      <td>To</td>
      <td>
        <input type='date' [(ngModel)]='resume.eduTo' name='eduTo'>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type='checkbox' [(ngModel)]='eduOngoing' value='eduOngoing'>
        <label>Ongoing</label>
      </td>
    </tr>
    <tr>
      <td>Date format</td>
      <td>
        <select [(ngModel)]='resume.eduFormat' name='eduFormat'>
            <option value="1">DD MMM. YYYY</option>
            <option value="2">DD/(M)M/YY</option>
            <option value="3">DD/(M)M/YYYY</option>
            <option value="4">DD/MM/YYYY</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>Title of qualification</td>
      <td>
        <input type='text' [(ngModel)]='resume.eduQualification' name='eduQualification'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Organisation providing education and training</i></b></td>
    </tr>
    <br>
    <tr>
      <td>Name</td>
      <td>
        <input type='text' [(ngModel)]='resume.orgName' name='orgName'>
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <input type='text' [(ngModel)]='resume.orgCity' name='orgCity'>
      </td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
        <input type='text' [(ngModel)]='resume.orgCountry' name='orgCountry'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><i>More details</i></td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        <input type='text' [(ngModel)]='resume.orgAddress' name='orgAddress'>
      </td>
    </tr>
    <tr>
      <td>Zip code</td>
      <td>
        <input type='text' [(ngModel)]='resume.orgZip' name='orgZip'>
      </td>
    </tr>
    <tr>
      <td>Web site</td>
      <td>
        <input type='text' [(ngModel)]='resume.orgSite' name='orgSite'>
      </td>
    </tr>
    <br>
    <tr>
      <td>EQF level</td>
      <td>
        <select [(ngModel)]='resume.eqf' name='eqf'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>Main subjects</td>
      <td>
        <textarea [(ngModel)]='resume.eduSubjects' name='eduSubjects'></textarea>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><i>Extra fields</i></td>
    </tr>
    <tr>
      <td>Educational field</td>
      <td>
        <input type='text' [(ngModel)]='resume.eduField' name='eduField'>
      </td>
    </tr>
    <br>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.eduAttachment' name='eduAttachment'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b>Work expirience</b></td>
    </tr>
    <br>
    <tr>
      <td>From</td>
      <td>
        <input type='date' [(ngModel)]='resume.workFrom' name='workFrom'>
      </td>
    </tr>
    <tr>
      <td>To</td>
      <td>
        <input type='date' [(ngModel)]='resume.workTo' name='workTo'>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type='checkbox' [(ngModel)]='workOngoing' value='workOngoing'>
        <label>Ongoing</label>
      </td>
    </tr>
    <tr>
      <td>Date format</td>
      <td>
        <select [(ngModel)]='resume.workFormat' name='workFormat'>
            <option value="1">DD MMM. YYYY</option>
            <option value="2">DD/(M)M/YY</option>
            <option value="3">DD/(M)M/YYYY</option>
            <option value="4">DD/MM/YYYY</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>Occupation or position held</td>
      <td>
        <input type='text' [(ngModel)]='resume.workPosition' name='workPosition'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Employer</i></b></td>
    </tr>
    <br>
    <tr>
      <td>Name</td>
      <td>
        <input type='text' [(ngModel)]='resume.empName' name='empName'>
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <input type='text' [(ngModel)]='resume.empCity' name='empCity'>
      </td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
        <input type='text' [(ngModel)]='resume.empCountry' name='empCountry'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><i>More details</i></td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        <input type='text' [(ngModel)]='resume.empAddress' name='empAddress'>
      </td>
    </tr>
    <tr>
      <td>Zip code</td>
      <td>
        <input type='text' [(ngModel)]='resume.empZip' name='empZip'>
      </td>
    </tr>
    <tr>
      <td>Web site</td>
      <td>
        <input type='text' [(ngModel)]='resume.empSite' name='empSite'>
      </td>
    </tr>
    <tr>
      <td>Business or sector</td>
      <td>
        <input type='text' [(ngModel)]='resume.empSector' name='empSector'>
      </td>
    </tr>
    <br>
    <tr>
      <td>Main activities and responsabilities</td>
      <td>
        <textarea [(ngModel)]='resume.workActivities' name='workActivities'></textarea>
      </td>
    </tr>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.workAttachment' name='workAttachment'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b>Personal skills</b></td>
    </tr>
    <br>
    <tr>
      <td>Mother tongue</td>
      <td>
        <input type='text' [(ngModel)]='resume.native' name='native'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Foreign language</i></b></td>
    </tr>
    <br>
    <tr>
      <td>Language</td>
      <td>
        <input type='text' [(ngModel)]='resume.foreignLang' name='foreignLang'>
      </td>
    </tr>
    <tr>
      <td colspan="2"><i>Understanding</i></td>
    </tr>
    <tr>
      <td>Listening</td>
      <td>
        <select [(ngModel)]='resume.foreignListening' name='foreignListening'>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Reading</td>
      <td>
        <select [(ngModel)]='resume.foreignReading' name='foreignReading'>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><i>Speaking</i></td>
    </tr>
    <tr>
      <td>Spoken intercaction</td>
      <td>
        <select [(ngModel)]='resume.foreignInteraction' name='foreignInteraction'>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Spoken production</td>
      <td>
        <select [(ngModel)]='resume.foreignProduction' name='foreignProduction'>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><i>Writing</i></td>
    </tr>
    <tr>
      <td>Writing</td>
      <td>
        <select [(ngModel)]='resume.foreignWriting' name='foreignWriting'>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Diploma</td>
      <td>
        <input type='text' [(ngModel)]='resume.foreignDiploma' name='foreignDiploma'>
      </td>
    </tr>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.foreignAttachment' name='foreignAttachment'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Communication skills</i></b></td>
    </tr>
    <br>
    <tr>
      <td>Skills</td>
      <td>
        <textarea [(ngModel)]='resume.commSkills' name='commSkills'></textarea>
      </td>
    </tr>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.commAttachment' name='commAttachment'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Organisational / managerial skills</i></b></td>
    </tr>
    <br>
    <tr>
      <td>Skills</td>
      <td>
        <textarea [(ngModel)]='resume.orgSkills' name='orgSkills'></textarea>
      </td>
    </tr>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.orgAttachment' name='orgAttachment'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Job-related skills</i></b></td>
    </tr>
    <br>
    <tr>
      <td>Skills</td>
      <td>
        <textarea [(ngModel)]='resume.jobSkills' name='jobSkills'></textarea>
      </td>
    </tr>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.jobAttachment' name='jobAttachment'>
      </td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><b><i>Digital skills</i></b></td>
    </tr>
    <br>
    <tr>
      <td colspan="2"><i>Self-assessment</i></td>
    </tr>
    <tr>
      <td>Information processing</td>
      <td>
        <select [(ngModel)]='resume.digitalInformation' name='digitalInformation'>
          <option value="basic">Basic user</option>
          <option value="independent">Independent user</option>
          <option value="proficient">Proficient user</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Communication</td>
      <td>
        <select [(ngModel)]='resume.digitalCommunication' name='digitalCommunication'>
          <option value="basic">Basic user</option>
          <option value="independent">Independent user</option>
          <option value="proficient">Proficient user</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Content creation</td>
      <td>
        <select [(ngModel)]='resume.digitalContent' name='digitalContent'>
          <option value="basic">Basic user</option>
          <option value="independent">Independent user</option>
          <option value="proficient">Proficient user</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Problem solving</td>
      <td>
        <select [(ngModel)]='resume.digitalProblem' name='digitalProblem'>
          <option value="basic">Basic user</option>
          <option value="independent">Independent user</option>
          <option value="proficient">Proficient user</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>ICT certificate</td>
      <td>
        <input type='text' [(ngModel)]='resume.digitalCertificate' name='digitalCertificate'>
      </td>
    </tr>
    <tr>
      <td>Other computer skills</td>
      <td>
        <textarea [(ngModel)]='resume.digitalSkills' name='digitalSkills'></textarea>
      </td>
    </tr>
    <tr>
      <td>Attachment</td>
      <td>
        <input type='file' [(ngModel)]='resume.digitalAttachment' name='digitalAttachment'>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)='save()'>Save</button>
      </td>
      <td>
        <a routerLink='/student'>Back</a>
      </td>
    </tr>
  </table>
</form>