<app-header type="student"></app-header>
<div class="container-fluid mycontainer">
  <div class="row justify-content-xl-center justify-content-md-center justify-content-center">
    <div class="col-xl-6 col-md-8 col">
      <div class="card mx-auto">
        <div class="card-header"><strong>Resume</strong></div>
        <div class="card-body">
          <form name="form-resume">
            <div *ngIf="errors" class="form-group">
              <div *ngFor="let error of errors" class="alert alert-danger" role="alert">{{ error }}</div>
            </div>
            <!-- Personal information fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[0]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[0]}" (click)="toggle(0)">
                <div class="float-left">Personal information</div>
                <div *ngIf="!sections[0]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[0]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[0]" class="container-fluid mysection">
                <div class="form-group">
                  <label for="firstname">First name</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.firstname" name="firstname" placeholder="Enter your first name">
                </div>
                <div class="form-group">
                  <label for="lastname">Last name</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.lastname" name="lastname" placeholder="Enter your last name">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.address" name="address" placeholder="Enter your address">
                </div>
                <div class="form-group">
                  <label for="zip">Zip code</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.zip" name="zip" placeholder="Enter your zip code">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.city" name="city" placeholder="Enter your city">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.country" name="country" placeholder="Enter your country">
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.phone" name="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                  <label for="mail">E-mail</label>
                  <input class="form-control" type="email" [(ngModel)]="resume.mail" name="mail" placeholder="Enter your e-mail">
                </div>
                <div class="form-group">
                  <label for="site">Web site</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.site" name="site" placeholder="Enter your web site">
                </div>
                <div class="form-group">
                  <label for="skype">Skype ID</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.skype" name="skype" placeholder="Enter your Skype ID">
                </div>
                <label><b><i>Extra fields</i></b></label>
                <div class="form-group">
                  <label for="sex">Sex</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="resume.sex" name="sex" [value]="male">
                      <label class="form-check-label" for="sex">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="resume.sex" name="sex" [value]="female">
                      <label class="form-check-label" for="sex">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="resume.sex" name="sex" [value]="none">
                      <label class="form-check-label" for="sex">Do not indicate</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="birth">Date of birth</label>
                  <input class="form-control" type="date" [(ngModel)]="resume.birth" name="birth">
                </div>
                <div class="form-group">
                  <label for="nationality">Nationality</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.nationality" name="nationality" placeholder="Enter your nationality">
                </div>
              </div>
            </ul>
            <!-- Type of Application fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[1]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[1]}" (click)="toggle(1)">
                <div class="float-left">Type of Application</div>
                <div *ngIf="!sections[1]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[1]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[1]" class="container-fluid mysection">
                <div class="form-group">
                  <label for="type">Type of Application</label>
                  <select class="form-control" [(ngModel)]='resume.type' name='type'>
                    <option value="job">Job applied for</option>
                    <option value="position">Position</option>
                    <option value="preferred">Preffered job</option>
                    <option value="studies">Studies applied for</option>
                    <option value="personal">Personal statement</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.description" name="description" placeholder="Enter description">
                </div>
              </div>
            </ul>
            <!-- Education and training fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[2]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[2]}" (click)="toggle(2)">
                <div class="float-left">Education and training</div>
                <div *ngIf="!sections[2]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[2]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[2]">
                <div *ngFor="let education of resume.educations" class="container-fluid mysection">
                  <div class="form-group">
                    <label for="from">From</label>
                    <input class="form-control" type="date" [(ngModel)]="education.from" name="from">
                  </div>
                  <div class="form-group">
                    <label for="to">To</label>
                    <input class="form-control" type="date" [(ngModel)]="education.to" name="to">
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="education.ongoing" name="ongoing">
                    <label class="form-check-label" for="ongoing">Ongoing</label>
                  </div>
                  <br/><br/>
                  <div class="form-group">
                    <label for="format">Date format</label>
                    <select class="form-control" [(ngModel)]='education.format' name='format'>
                      <option value="DD MMM. YYYY">DD MMM. YYYY</option>
                      <option value="DD/(M)M/YY">DD/(M)M/YY</option>
                      <option value="DD/(M)M/YYYY">DD/(M)M/YYYY</option>
                      <option value="DD/MM/YYYY">DD/MM/YYYY</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="qualification">Title of qualification</label>
                    <input class="form-control" type="text" [(ngModel)]="education.qualification" name="qualification" placeholder="Enter title of qualification">
                  </div>
                  <label><b><i>Organisation providing education and training</i></b></label>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" [(ngModel)]="education.organisation.name" name="name" placeholder="Enter name of organisation">
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input class="form-control" type="text" [(ngModel)]="education.organisation.city" name="city" placeholder="Enter city of organisation">
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input class="form-control" type="text" [(ngModel)]="education.organisation.country" name="country" placeholder="Enter country of organisation">
                  </div>
                  <label><i>More details</i></label>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" type="text" [(ngModel)]="education.organisation.address" name="address" placeholder="Enter address of organisation">
                  </div>
                  <div class="form-group">
                    <label for="zip">Zip code</label>
                    <input class="form-control" type="text" [(ngModel)]="education.organisation.zip" name="zip" placeholder="Enter zip code of organisation">
                  </div>
                  <div class="form-group">
                    <label for="site">Web site</label>
                    <input class="form-control" type="text" [(ngModel)]="education.organisation.site" name="site" placeholder="Enter web site of organisation">
                  </div>
                  <div class="form-group">
                    <label for="eqf">EQF level</label>
                    <select class="form-control" [(ngModel)]='education.eqf' name='eqf'>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="subjects">Main subjects</label>
                    <textarea class="form-control" [(ngModel)]='education.subjects' name='subjects'></textarea>
                  </div>
                  <label><i>Extra fields</i></label>
                  <div class="form-group">
                    <label for="field">Educational field</label>
                    <input class="form-control" type="text" [(ngModel)]="education.field" name="field" placeholder="Enter educational field">
                  </div>
                  <div class="form-group">
                    <label for="attachment">Attachment</label>
                    <input class="form-control-file" type="file" [(ngModel)]="education.attachment" name="attachment">
                  </div>
                  <div class="row mt-4">
                    <div *ngIf="education === resume.educations[resume.educations.length - 1]" class="col text-center">
                      <h6><span (click)="addEducation()">Add new</span></h6>
                    </div>
                    <div *ngIf="education !== resume.educations[0]" class="col text-center">
                      <h6><span (click)="deleteEducation(education)">Delete</span></h6>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
            <!-- Work expirience fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[3]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[3]}" (click)="toggle(3)">
                <div class="float-left">Work expirience</div>
                <div *ngIf="!sections[3]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[3]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[3]">
                <div *ngFor="let work of resume.works" class="container-fluid mysection">
                  <div class="form-group">
                    <label for="from">From</label>
                    <input class="form-control" type="date" [(ngModel)]="work.from" name="from">
                  </div>
                  <div class="form-group">
                    <label for="to">To</label>
                    <input class="form-control" type="date" [(ngModel)]="work.to" name="to">
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="work.ongoing" name="ongoing">
                    <label class="form-check-label" for="ongoing">Ongoing</label>
                  </div>
                  <br/><br/>
                  <div class="form-group">
                    <label for="format">Date format</label>
                    <select class="form-control" [(ngModel)]='work.format' name='format'>
                      <option value="1">DD MMM. YYYY</option>
                      <option value="2">DD/(M)M/YY</option>
                      <option value="3">DD/(M)M/YYYY</option>
                      <option value="4">DD/MM/YYYY</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="position">Occupation or position held</label>
                    <input class="form-control" type="text" [(ngModel)]="work.position" name="position" placeholder="Enter occupation or position">
                  </div>
                  <label><b><i>Employer</i></b></label>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.name" name="name" placeholder="Enter name of employer">
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.city" name="city" placeholder="Enter city of employer">
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.country" name="country" placeholder="Enter country of employer">
                  </div>
                  <label><i>More details</i></label>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.address" name="address" placeholder="Enter address of employer">
                  </div>
                  <div class="form-group">
                    <label for="zip">Zip code</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.zip" name="zip" placeholder="Enter zip code of employer">
                  </div>
                  <div class="form-group">
                    <label for="site">Web site</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.site" name="site" placeholder="Enter web site of employer">
                  </div>
                  <div class="form-group">
                    <label for="sector">Business or sector</label>
                    <input class="form-control" type="text" [(ngModel)]="work.employer.sector" name="sector" placeholder="Enter business or sector">
                  </div>
                  <div class="form-group">
                    <label for="activities">Main activities and responsabilities</label>
                    <textarea class="form-control" [(ngModel)]='work.activities' name='activities'></textarea>
                  </div>
                  <div class="form-group">
                    <label for="attachment">Attachment</label>
                    <input class="form-control-file" type="file" [(ngModel)]="work.attachment" name="attachment">
                  </div>
                  <div class="row mt-4">
                    <div *ngIf="work === resume.works[resume.works.length - 1]" class="col text-center">
                      <h6><span (click)="addWork()">Add new</span></h6>
                    </div>
                    <div *ngIf="work !== resume.works[0]" class="col text-center">
                      <h6><span (click)="deleteWork(work)">Delete</span></h6>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
            <!-- Languages fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[4]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[4]}" (click)="toggle(4)">
                <div class="float-left">Languages</div>
                <div *ngIf="!sections[4]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[4]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[4]" class="container-fluid mysection">
                <div class="form-group">
                  <label for="native"><b>Native language</b></label>
                  <input class="form-control" type="text" [(ngModel)]="resume.native" name="native" placeholder="Enter your native language">
                </div>
                <label><b>Foreign languages</b></label>
                <div *ngFor="let foreign of resume.foreigns" class="container-fluid mysection">
                  <div class="form-group">
                    <label for="name">Language</label>
                    <input class="form-control" type="text" [(ngModel)]="foreign.name" name="name" placeholder="Enter your foreign language">
                  </div>
                  <label><i>Understanding</i></label>
                  <div class="form-group">
                    <label for="listening">Listening</label>
                    <select class="form-control" [(ngModel)]='foreign.listening' name='listening'>
                      <option value="A1">A1</option>
                      <option value="A2">A2</option>
                      <option value="B1">B1</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="reading">Reading</label>
                    <select class="form-control" [(ngModel)]='foreign.reading' name='reading'>
                      <option value="A1">A1</option>
                      <option value="A2">A2</option>
                      <option value="B1">B1</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                    </select>
                  </div>
                  <label><i>Speaking</i></label>
                  <div class="form-group">
                    <label for="interaction">Spoken intercaction</label>
                    <select class="form-control" [(ngModel)]='foreign.interaction' name='interaction'>
                      <option value="A1">A1</option>
                      <option value="A2">A2</option>
                      <option value="B1">B1</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="production">Spoken production</label>
                    <select class="form-control" [(ngModel)]='foreign.production' name='production'>
                      <option value="A1">A1</option>
                      <option value="A2">A2</option>
                      <option value="B1">B1</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                    </select>
                  </div>
                  <label><i>Writing</i></label>
                  <div class="form-group">
                    <label for="writing">Writing</label>
                    <select class="form-control" [(ngModel)]='foreign.writing' name='writing'>
                      <option value="A1">A1</option>
                      <option value="A2">A2</option>
                      <option value="B1">B1</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="diploma">Diploma</label>
                    <input class="form-control" type="text" [(ngModel)]="foreign.diploma" name="diploma" placeholder="Enter your diploma">
                  </div>
                  <div class="form-group">
                    <label for="attachment">Attachment</label>
                    <input class="form-control-file" type="file" [(ngModel)]="foreign.attachment" name="attachment">
                  </div>
                  <div class="row mt-4">
                    <div *ngIf="foreign === resume.foreigns[resume.foreigns.length - 1]" class="col text-center">
                      <h6><span (click)="addForeign()">Add new</span></h6>
                    </div>
                    <div *ngIf="foreign !== resume.foreigns[0]" class="col text-center">
                      <h6><span (click)="deleteForeign(foreign)">Delete</span></h6>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
            <!-- Communication skills fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[5]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[5]}" (click)="toggle(5)">
                <div class="float-left">Communication skills</div>
                <div *ngIf="!sections[5]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[5]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[5]" class="container-fluid mysection">
                <div class="form-group">
                  <label for="commSkills">Skills</label>
                  <textarea class="form-control" [(ngModel)]='resume.commSkills' name='commSkills'></textarea>
                </div>
                <div class="form-group">
                  <label for="commAttachment">Attachment</label>
                  <input class="form-control-file" type="file" [(ngModel)]="resume.commAttachment" name="commAttachment">
                </div>
              </div>
            </ul>
            <!-- Organisational / managerial skills fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[6]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[6]}" (click)="toggle(6)">
                <div class="float-left">Organisational / managerial skills</div>
                <div *ngIf="!sections[6]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[6]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[6]" class="container-fluid mysection">
                <div class="form-group">
                  <label for="orgSkills">Skills</label>
                  <textarea class="form-control" [(ngModel)]='resume.orgSkills' name='orgSkills'></textarea>
                </div>
                <div class="form-group">
                  <label for="orgAttachment">Attachment</label>
                  <input class="form-control-file" type="file" [(ngModel)]="resume.orgAttachment" name="orgAttachment">
                </div>
              </div>
            </ul>
            <!-- Job-related skills fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[7]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[7]}" (click)="toggle(7)">
                <div class="float-left">Job-related skills</div>
                <div *ngIf="!sections[7]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[7]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[7]" class="container-fluid mysection">
                <div class="form-group">
                  <label for="jobSkills">Skills</label>
                  <textarea class="form-control" [(ngModel)]='resume.jobSkills' name='jobSkills'></textarea>
                </div>
                <div class="form-group">
                  <label for="jobAttachment">Attachment</label>
                  <input class="form-control-file" type="file" [(ngModel)]="resume.jobAttachment" name="jobAttachment">
                </div>
              </div>
            </ul>
            <!-- Digital skills fields -->
            <ul [ngClass]="{'list-group': true, 'myspacing': !sections[8]}">
              <li [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'list-group-item-secondary': sections[8]}" (click)="toggle(8)">
                <div class="float-left">Digital skills</div>
                <div *ngIf="!sections[8]" class="float-right">&#x25BE;</div>
                <div *ngIf="sections[8]" class="float-right">&#x25B4;</div>
              </li>
              <div *ngIf="sections[8]" class="container-fluid mysection">
                <label><i>Self-assessment</i></label>
                <div class="form-group">
                  <label for="digitalInformation">Information processing</label>
                  <select class="form-control" [(ngModel)]='resume.digitalInformation' name='digitalInformation'>
                    <option value="basic">Basic user</option>
                    <option value="independent">Independent user</option>
                    <option value="proficient">Proficient user</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="digitalCommunication">Communication</label>
                  <select class="form-control" [(ngModel)]='resume.digitalCommunication' name='digitalCommunication'>
                    <option value="basic">Basic user</option>
                    <option value="independent">Independent user</option>
                    <option value="proficient">Proficient user</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="digitalContent">Content creation</label>
                  <select class="form-control" [(ngModel)]='resume.digitalContent' name='digitalContent'>
                    <option value="basic">Basic user</option>
                    <option value="independent">Independent user</option>
                    <option value="proficient">Proficient user</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="digitalProblem">Problem solving</label>
                  <select class="form-control" [(ngModel)]='resume.digitalProblem' name='digitalProblem'>
                    <option value="basic">Basic user</option>
                    <option value="independent">Independent user</option>
                    <option value="proficient">Proficient user</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="digitalCertificate">ICT certificate</label>
                  <input class="form-control" type="text" [(ngModel)]="resume.digitalCertificate" name="digitalCertificate" placeholder="Enter your ICT certificate">
                </div>
                <div class="form-group">
                  <label for="digitalSkills">Other computer skills</label>
                  <textarea class="form-control" [(ngModel)]='resume.digitalSkills' name='digitalSkills'></textarea>
                </div>
                <div class="form-group">
                  <label for="digitalAttachment">Attachment</label>
                  <input class="form-control-file" type="file" [(ngModel)]="resume.digitalAttachment" name="digitalAttachment">
                </div>
              </div>
            </ul>
          </form>
        </div>
        <div class="card-footer">
          <div class="float-left">
            <button class="btn btn-primary btn-block" (click)='save()'>Save</button>
          </div>
          <div class="float-right">
            <a class="d-block mt-2" routerLink='/student'>Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<app-footer></app-footer>