<h3>Register</h3>
<form>
  <table>
    <div *ngIf="errors">
      <tr *ngFor="let error of errors" style="color: red">
        <td>{{ error }}</td>
        <td>{{ error }}</td>
      </tr>
    </div>
    <tr>
      <td>Type of user</td>
      <td>
        <select [(ngModel)]='type' name='type' (change)="createUser()">
            <option *ngFor="let t of types" value="{{ t.type }}">{{ t.name }}</option>
        </select>
      </td>
    </tr>
    <!-- General fields -->
    <tr *ngIf="type">
      <td>Username</td>
      <td>
        <input type='text' [(ngModel)]='user.username' name='username' [disabled]="!type">
      </td>
    </tr>
    <tr *ngIf="type">
      <td>Password</td>
      <td>
        <input type='password' [(ngModel)]='user.password' name='password' [disabled]="!type">
      </td>
    </tr>
    <!-- Student-only fields -->
    <tr *ngIf="type == 'student'">
      <td>Phone</td>
      <td>
        <input type='text' [(ngModel)]='user.phone' name='phone'>
      </td>
    </tr>
    <tr *ngIf="type == 'student'">
      <td>E-mail</td>
      <td>
        <input type='email' [(ngModel)]='user.mail' name='mail'>
      </td>
    </tr>
    <tr *ngIf="type == 'student'">
      <td>Year of studies</td>
      <td>
        <select [(ngModel)]='user.year' name='year'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="type == 'student'">
      <td>Graduated from college?</td>
      <td>
        <input type='checkbox' [(ngModel)]='user.graduated' name='graduated'>
      </td>
    </tr>
    <tr *ngIf="type == 'student'">
      <td>Profile photo</td>
      <td>
        <input type='file' [(ngModel)]='user.profile' name='profile'>
      </td>
    </tr>
    <!-- Company-only fields -->
    <tr *ngIf="type == 'company'">
      <td>Company</td>
      <td>
        <input type='text' [(ngModel)]='user.name' name='name'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>City</td>
      <td>
        <input type='text' [(ngModel)]='user.city' name='city'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Address</td>
      <td>
        <input type='text' [(ngModel)]='user.address' name='address'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Executive</td>
      <td>
        <input type='text' [(ngModel)]='user.executive' name='executive'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Tax ID</td>
      <td>
        <input type='text' [(ngModel)]='user.taxid' name='taxid'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Number of employees</td>
      <td>
        <input type='text' [(ngModel)]='user.employees' name='employees'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>E-mail</td>
      <td>
        <input type='text' [(ngModel)]='user.mail' name='mail'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Web site</td>
      <td>
        <input type='text' [(ngModel)]='user.site' name='site'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Field</td>
      <td>
        <select [(ngModel)]='user.field' name='field'>
          <option *ngFor="let f of fields" value="{{ f.field }}">{{ f.name }}</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Specialty</td>
      <td>
        <input type='text' [(ngModel)]='user.specialty' name='specialty'>
      </td>
    </tr>
    <tr *ngIf="type == 'company'">
      <td>Logo</td>
      <td>
        <input type='file' [(ngModel)]='user.logo' name='logo'>
        
      </td>
    </tr>
    <!-- General -->
    <tr>
      <td>
        <button (click)='register()' [disabled]="!type">Register</button>
      </td>
      <td>
        <a routerLink='/login'>Back</a>
      </td>
    </tr>
  </table>
</form>
